@model List<Web.Areas.FileEncrypt.Models.FileEncryptionViewModel>

@{

    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="bs-component live-less-editor-hovercontainer">

    <div class="panel panel-default">

        <div class="panel-body">



            <h1 style="font-size:30px">File Upload and Encrypt</h1>

            @using (Html.BeginForm("FileUpload", "FileEncrypt", FormMethod.Post, new { enctype = "multipart/form-data" }))

            {
              
                <div class="row" style="padding-left:25px">
                    @Html.AntiForgeryToken()
                    <label class="file-upload btn-lg btn btn-primary">

                        <span class="glyphicon glyphicon-folder-open glyphicon-button-space"></span>

                        Browse For File... <input type="file" name="postedFile" id="inputFile" hidden="hidden" style="display: none !important;" ons />

                    </label>

                    <br />

                    <br />

                    <span id="filesSelected">Select File:</span>

                </div>

                @*<input type="file" name="postedFile" style="margin-bottom:20px;" class="filestyle" />*@

                <div class="row paddingTop12px" style="padding-left:25px">



                    <button type="submit" class="btn  btn-primary" value="Upload" id="btnUploadFileToServer">

                        <span class="glyphicon glyphicon-open  glyphicon-button-space"></span>

                        <span>Upload</span>

                    </button>



                    @*<input type="submit" value="Upload" class="btn btn-primary" />*@

                </div>



            }

        </div>

    </div>




    <div class="panel panel-default">

        <div class="panel-body">



            <h1 style="font-size:30px">Files Encrypted</h1>





            <table class="table table-bordered table-hover table-condensed">



                <thead style=" background-color #c9e5f9;">

                    <tr>

                        <th scope="col">File Id </th>

                        <th scope="col">File Name</th>

                        <th scope="col">File Description</th>

                        <th scope="col">File Location </th>

                        <th scope="col">Uploaded On </th>

                        <th scope="col"> Download </th>

                    </tr>

                </thead>

                <tbody>

                    @foreach (var d in Model)

                    {

                        <tr>



                            <td>@d.ID</td>

                            <td>@d.FileName</td>

                            <td>@d.FileDescription</td>

                            <td>@d.Path</td>

                            <td>@d.CreatedOn</td>

                            <td>

                                @*@Html.ActionLink("Download", "GetFileToClient", "Home", new { id = @d.ID }, null)*@

                                @*~/Areas/Admin/Controllers/MeetsController*@

                                @*@Html.ActionLink("Admin", "Index", "Meets", new { area = "Admin" }, null)*@



                                @Html.ActionLink("Download", "GetFileToClient", "FileEncrypt", new { id = @d.ID }, null)



                            </td>

                        </tr>

                    }







                </tbody>

            </table>

        </div>

    </div>







</div>




<script type="text/javascript">

        $(document).ready(function () {

           // JsFileEncrypt.FileEncryptMenuSelector();

           // JsFileEncrypt.test1('150000');

           //// JsFileEncrypt();

           // $('#btnUploadFileToServer').draggable({ cancel: false });





            $('#filesSelected').text('');

            $('input[type="file"]').change(function (e) {

                var fileName = e.target.files[0].name;

                $('#filesSelected').text(fileName);

            });

        });

</script>