@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>

    @Html.Raw(JSNLog.JavascriptLogging.Configure())

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/JqueryUI/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryCustom")

    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/JqueryUI/Scripts")
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" crossorigin="anonymous"></script>


    <script src="~/SignalR/Hubs">


    </script>

    @RenderSection("scripts", required: false)


</head>
<body>

    <input type="hidden" id="pageRefreshOnBackButtonClick" value="no">

    <div id="loadingPageIconModal" class="modal show" role="dialog" style="z-index:99999">
        <div class="loaderOverlay">

            <div style="min-height:35%" class="row">

            </div>

            <div style="align-items: center;
                  display: grid;
                  justify-content: center;
                  vertical-align: middle;
                      padding-left:10px;
                            ">
                <div style="padding-left:85px;" class="row">
                    <div class="loader"></div>
                </div>


                <div style="padding-top:12px;" class="row">
                    <span style="color:white; font-size:25px; ">Processing, Please Wait...</span>
                </div>
            </div>
        </div>
    </div>

    <div id="loadingIconModal" class="modal fade" role="dialog" style="z-index:99999">
        <div class="loaderOverlay">

            <div style="min-height:35%" class="row">

            </div>

            <div style="align-items: center;
                  display: grid;
                  justify-content: center;
                  vertical-align: middle;
                      padding-left:10px;
                            ">
                <div style="padding-left:85px;" class="row">
                    <div class="loader"></div>
                </div>


                <div style="padding-top:12px;" class="row">
                    <span style="color:white; font-size:25px; ">Processing, Please Wait...</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="reloadMessageModel" class="modal fade" role="dialog">
        <script>
            $(function () {


                $("#reloadMessageModelDialogModelCloseBtn").click(function () {
                    JsMain.ShowLoaddingIndicator();
                    $('#reloadMessageModel').modal('hide');
                    location.reload();
                });

                $("#reloadMessageModelDialog").draggable(
                    {
                        handle: "#reloadMessageModelDialogModelHeader"
                    }
                    );
                $(".modal-title").disableSelection();
                //$('.modal-dialog').resizable({
                //    //alsoResize: ".modal-dialog",
                //    //minHeight: 150
                //});
            });

        </script>
        <div class="modal-dialog" id="reloadMessageModelDialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" id="reloadMessageModelDialogModelHeader" style="cursor:move;">


                    <h4 class="modal-title">
                        <i class="fas fa-info-circle"></i>
                        <span style="padding-left:5px" id="reloadMessageModelDialogModelHeaderValue"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <span id="reloadMessageModelDialogModelMessageValue"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="reloadMessageModelDialogModelCloseBtn" type="button" class="btn btn-info">
                        <i class="fas fa-times fontawesomeIconSpace"></i>
                        <span class="paddingLeft5px">Close</span>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-top paddingRight10px">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("File Encryption", "Index", "DashBoard", new { area = "DashBoard" }, new { @class = "navbar-brand navbarItemsEmptyClass", @style = "padding-left:90px" })
                }
                <div id="brandLogo" style="background-color:rgb(17, 23, 82);box-shadow: 2px 3px 10px rgba(10, 6, 6, 0.38); position: fixed; width: 61px; height: 58px; left: 13px;  z-index: 2;cursor:pointer">
                    <h3 style="color:white;margin-top: 13px;margin-left: 2px;">Logo</h3>
                </div>
            </div>



            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
            {
                    <ul class="nav navbar-nav">
                        <li id="fileEncryptMenu">@Html.ActionLink("File", "Index", "FileEncrypt", new { area = "FileEncrypt" }, new { @class = "navbarItemsEmptyClass" })</li>

                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        <li id="adminMenu" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Cache", "Index", "CacheManage", new { area = "Admin" }, new { @class = "navbarItemsEmptyClass" })</li>
                                <li>@Html.ActionLink("Notification", "Index", "NotifyManage", new { area = "Management" }, new { @class = "navbarItemsEmptyClass" })</li>
                                <li>@Html.ActionLink("User", "Index", "UserManage", new { area = "Admin" }, new { @class = "navbarItemsEmptyClass" })</li>

                            </ul>
                        </li>


                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()


    </div>

    <script>
        $(document).ready(function () {


            $(".navbarItemsEmptyClass").click(function () {

                $("#loadingIconModal").modal('show');

            });

            var $input = $('#pageRefreshOnBackButtonClick');

            if ($input.val() == 'yes') {
                location.reload(true)
            }
            else {
                $input.val('yes');
            }

            var timerID = setInterval(function () {
                var brandLogoAnimate = KUTE.fromTo('#brandLogo', { rotateX: 360 }, { rotateX: 0 }, { perspective: 100, duration: 1000, delay: 500 });
                brandLogoAnimate.start();
            }, 10 * 1000);

            // clearInterval(timerID); // The setInterval it cleared and doesn't run anymore.

            setTimeout(
                       function () {

                           $("#loadingPageIconModal").hide("fade", { direction: "right" }, function () { $(this).remove(); });
                           var brandLogoAnimate = KUTE.fromTo('#brandLogo', { rotateX: 360 }, { rotateX: 0 }, { perspective: 100, duration: 1000, delay: 500 });
                           brandLogoAnimate.start();
                       }, 1000);



        });

    </script>
    @Html.Raw(JSNLog.JavascriptLogging.Configure())

    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->

    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute-attr.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute-css.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute-jquery.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute-svg.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/kute.js@1.6.5/kute-text.min.js" crossorigin="anonymous"></script> <!-- jQuery Plugin -->

</body>
</html>
